.tasklist-card {
  font-size: 10px;
  flex-direction: column;
  display: flex;
  margin: 0.5rem;
  padding: 5px;
  border: 5px solid white;
  width: 60vw;
  min-height: 65vh;
  border-radius: 10px;
  position: absolute;
  left: 37vw;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 10px;
  color: yellowgreen;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 7px;
  font-weight: 500;
  margin-right: 0.5rem;
}

.header a:hover {
  text-decoration: none;
  color: teal;
}
