.task {
  display: flex;
  min-height: 3rem;
  align-items: center;
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1px;
  box-shadow: 0 5px rgb(211, 173, 78);
  margin-bottom: 0.5rem;
}

.task input {
  margin-left: 0.5rem;
}

.task-basic-info {
  display: block;
  margin-left: 1rem;
}

.task-basic-info h3 {
  color: goldenrod;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.task-detail-info {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

.task-detail-info p {
  margin-right: 7px;
}

.task-basic-info p {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
