.navBar {
  display: flex;
  flex-direction: column;
  color: white;
  width: 35vw;
  border: 5px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  min-height: 65vh;
}

.navBar header {
  margin: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-bottom: 2px solid white;
  border-radius: 2px;
}
