@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: SUITE-Regular; */
    /* font-family: Dovemayo_gothic; */
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'SeoulNamsanM'; */
    font-family: 'NEXON Lv1 Gothic OTF';
    background-color: #3c3e42;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303235;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242528;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #6b6e72; */
  scale: 110%;
}

@layer components {
  .task-section {
    @apply snap-center h-full lg:h-[90vh] min-w-[370px] w-[370px] mr-[20px] mt-5 mb-5;
  }
  .sectionTaskBox {
    scrollbar-gutter: stable;
  }

  .active-menu-button {
    @apply bg-secondary w-[100%]  h-8 
    text-textPrimary place-items-center justify-center duration-300;
  }

  .taskCard-button {
    @apply w-4 h-4 text-ColorSix hover:scale-125 hover:brightness-125 duration-150;
  }

  .checkbox-button {
    @apply w-6 h-6;
  }

  .btn-yes {
    @apply w-12 h-9 rounded-md border-solid border-[3px] border-btnConfirm 
    text-btnConfirm font-bold hover:bg-btnConfirm hover:text-ColorOne;
  }

  .btn-no {
    @apply w-12 h-9 rounded-md border-solid border-[3px] border-btnReject font-bold 
    text-btnReject hover:bg-btnReject hover:text-ColorOne;
  }

  .custom-background {
    @apply bg-gradient-to-br  
    from-ColorThree 
    from-80%
    via-ColorTwo
    via-85%;
  }

  .menu-button {
    @apply flex px-2 pb-1 min-w-full items-center hover:menu-button-hover;
  }

  .menu-button-hover {
    @apply bg-ColorSix text-ColorOne;
  }

  .auth-container {
    @apply absolute top-[50%] left-[50%] -translate-y-[50%] rounded-md bg-ColorOne w-96 h-[700px] transition-all duration-300;
  }

  .setting-container {
    @apply absolute top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%];
  }

  .auth-input {
    @apply bg-ColorFour h-8 rounded-md placeholder:indent-2;
  }
}
